.nav{
    height: 50px;
    background-color: red;
    padding: 20px;
    padding-bottom: 50px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    overflow: hidden;
}

li{
    padding: 14px 16px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    background-color: #ffffff80;
    border-radius: 12px;
}

a:hover{
    background-color: #ffffffa2;
    transition: 0.5s;
}